# TypeScript
When you create the logic of the calculator, always use the BasicCalculator class.
Always implement tests for the calculator using the current year. Tests have to contain all output values.


# Vue.js
If you create UI, use the Quasar components. 
components/contractWork has the most up to date example of how to create a module.
Use Polish language in the UI.

# tests
You should execute tests which are important for your case, not all tests. The comand to execute tests is: npx vitest run test/vitest/__tests__/modules/<moduleName>/<testName>.test.ts
Tests have to contain all output values.
Numbers usually should be used for comparison.