// app global css in SCSS form
@import "objects/breadcrumbs";
@import "objects/sectionHeader";
@import "objects/chart";
@import "objects/q-table-grid";
@import "components/app";
@import "components/business";
@import "components/currencies";
@import "components/informator";
@import "components/percentage";
@import "components/work";

a{
  color: $primary;
  text-decoration: none;
}

@media screen and (max-width:600px) {
  .q-dialog__inner--minimized{
    padding: 0;
  }

}
