/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: inherit;
    color: inherit;
}
textarea, input, select {
    outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}

article, aside, details, dialog, figcaption, figure, footer, header, hgroup, nav, section {
    display: inline-block;
}

audio, canvas, embed, keygen, meter, progress, video {
    display: inline-block;
}

[hidden] {
    display: none;
}

/* Uklad */
.fullSize{
    width:100%;
    float: left;
}

body{
    font-family: 'Roboto', Arial, Vedana, sans-serif;
    font-size:14px;
    line-height: 22px;
    color:#313742;
    overflow-x: hidden;
}
a{
    color: #1d1d1b;
}
a:hover{
    color: #fb6b09;
}
p{
    line-height: 24px;
    margin:5px 0;
}
h1{
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 10px;
    line-height: 36px;
}
h2{
    font-family: 'Roboto';
    font-size: 24px;
    color: #d12526;
    line-height: 28px;
    margin-bottom: 20px;
}
.light-button{
    display: inline-block;
    padding: 10px 12px;
    background: #ffffff;
    color: #d12526;
    border: 1px solid #ffffff;
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.light-button:hover{
    background: #d12526;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.main{
    width:90%;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}
header{
    background-color: #d12526;
    color: #ffffff;
    padding: 30px 0 0 0;
    overflow: hidden;
    min-height: 400px;
    position: relative;
}
header:after{
    content: ' ';
    height: 4px;
    width:100%;
    background: linear-gradient(90deg, rgba(163,23,24,1) 0%, rgba(237,109,19,1) 25%, rgba(255,131,86,1) 50%, rgba(237,177,19,1) 75%, rgba(187,73,133,1) 100%, rgba(0,167,217,1) 100%);
    position: absolute;
    bottom:0;
}
header .main .image{
    position: relative;
    z-index: 2;
}
section{
    padding: 30px 0;
    overflow: hidden;
    min-height: 300px;
}
.main .col{
    flex: 1 0 50%;
}
.main .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section .image{
    position: relative;
    margin-bottom: -50px;
    transition: all 0.3s ease-in-out;
    top:0;
}
section .image:hover{
    top:-20px;
}
.background2{
    background: #e0f2f1;
}
.background2 .col:first-of-type{
    order: 2;
}
.background2 .col:last-of-type{
    order: 1;
}
.text p{
    margin-bottom: 10px;
}
.text ul{
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 10px;
}
.text li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #d12526; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.buttons{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
#backgroundRed{
    background: #d12526;
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
    min-height: auto;
}
#backgroundRed h2{
    color: #ffffff;
    margin-bottom: 0;
}
footer{
    text-align: center;
    padding: 30px 0;
}

footer .main .col{
    flex: 1 0 100%;
}
footer img{
    max-width: 100%;
}
footer a{
    color: #d12526;
}
footer p{
    font-size: 12px;
    line-height: 16px;
}

@media (max-width: 800px) {
    section{
        padding-bottom: 0;
    }

    .main{
        flex-direction: column;
        row-gap: 10px;
    }
    .main .image{
        max-width: 85%;
    }

    header .main{
        row-gap: 30px;
    }

    .main .col{
        flex: 1 0 100%;
    }
    header .col:first-of-type, .background2 .col:first-of-type{
        order: 1;
    }
    header .col:first-of-type, .background2 .col:last-of-type{
        order: 2;
    }
    header .buttons{
        margin-top: 20px;
    }
    .main .image, .main .image:hover{
        top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .buttons{
        flex-direction: column;
        row-gap: 10px;
        width: 190px;
        margin: auto;
    }
    .buttons a{
        text-align: center;
    }
}